@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">jasun.feddema@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">jasun.feddema@gmail.com</a>
</address>
