@model IEnumerable<GummiBearKingdom.Models.Category>

<html>
<head>
	<title>Categories</title>
</head>
<body>
	<h1>Products</h1>

	<div>
		<div class="row">
			@foreach(var category in Model)
			{
				<div class="col">
					<table class="table">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.Name)
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									@Html.DisplayFor(modelCategory => category.Name)
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			}
		</div>

</body>
</html>
