@model IEnumerable<GummiBearKingdom.Models.Category>

<html>
<head>
	<title>Categories</title>
</head>
<body>
	<h1>Categories</h1>

	<div>
		<div class="row">

			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th>
								Category Name
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var category in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelCategory => category.Name)
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-info" asp-action="Create">Create New Category</a>
</body>
</html>
