@model GummiBearKingdom.Models.Review

<head>
	<title>Reviews for @Html.DisplayFor(model => model.ProductId)</title>
</head>
<body>
	<div>
		<h2>
			@Html.DisplayFor(model => model.Author)
		</h2>
		<hr />
		<h4>Review: </h4>
		<p>@Html.DisplayFor(model => model.Content_Body)</p>
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit Review</a> |
		<a asp-controller="Products" asp-action="Index">Back to Product List</a>
	</div>
</body>
